*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Courier New', Courier, monospace;
    background-color: #6cdda4;
    color: #333;
    text-align: center;
    font-size: 20px;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.formulario input,
.formulario button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.formulario button {
  background-color: #005f9e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario button:hover {
  background-color: #004272;
}

.controle {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.inputs,
.botoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.inputs input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 200px;
}

.botoes button,
#alternarCatalogo {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #005f9e;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botoes button:hover,
#alternarCatalogo:hover {
  background-color: #003f6b;
}
